<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>LinkGenie.Me</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.3.1/dist/sketchy/bootstrap.min.css">
        <style>
            .form-control {
                padding: 1.4rem 0.75rem;
            }

            .white {
                color: #fff;
            }

            .navbar {
                border-width: 0 !important;
                border-style: none !important;
                border-radius: 0 !important;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" href="#">LinkGenie.Me</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li class="nav-item pull-right">
                            <a class="nav-link" href="#">Report</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container mt-5">
            <div class="jumbotron">
                <div class="display-4 text-center mb-3">
                    LinkGenie.Me, anonymous, simple.
                </div>
                <p class="lead text-center">
                    Click on the button and you will be redirected to your destination, anonymously.
                    <br>
                    You can create anonymous links, share it and hide the HTTP referrers. No trackers, no logs
                </p>
                <a class="btn btn-lg btn-primary btn-block mt-4" rel="noreferrer nofollow" href="{{ url }}">Take me</a>
            </div>
        </div>
    </body>
</html>
